$colorTextWhite: #FFFFFF;
$colorTextBlack: #2D3033;
$colorTextGray: #6C7279;
$colorTextRed: #FF4343;
$colorHeaderLine: #BABBC5;
$colorLinkHover: #BABBC5;
$colorLinkActive: #E71414;
$colorButtonNormal: #FF4343;
$colorButtonHover: #E71414;
$colorButtonActive: #FF4343;
$colorBackgroundBanner: #252B49;
$colorWorkBorder: #FFFFFF;
$colorWorkHover: rgba(255, 67, 67, 0.8);
$colorWorkActive: rgba(185, 12, 12, 0.8);
$colorSocialHover: #2D3033;
$colorSocialActive: #FF4343;

@keyframes saturation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes decrease {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0.8);
    }
}

@keyframes increase {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.3);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    width: 100%;
    position: fixed;
    z-index: 2;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        &::after {
            content: '';
            border-bottom: 1px solid $colorHeaderLine;
            width: calc(100% - 30px);
            position: absolute;
            left: 15px;
            bottom: 0;
        }
    }

    &__logo {
        display: block;
        width: 181px;
        height: 26px;
    }

    &__picture {
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
    }

    &__btn {
        display: none;
    }

    &__list {
        display: flex;
    }

    &__item {
        list-style: none;
    }

    &__link {
        display: block;
        font-weight: 700;
        font-size: 13px;
        line-height: 15px;
        text-decoration: none;
        text-transform: uppercase;
        color: $colorTextWhite;
        padding: 41px 35px;
        border-bottom: 3px solid transparent;
        transition: 0.2s linear;

        &:hover {
            color: $colorLinkHover;
            border-bottom: 3px solid $colorLinkHover;
        }

        &:active {
            color: $colorLinkActive;
            border-bottom: 3px solid $colorLinkActive;
        }
    }

    @media (max-width: 1024px) {
        &__link {
            font-size: 12px;
            line-height: 14px;
            padding: 41.5px 20px;
        }
    }

    @media (max-width: 767px) {
        &__container::after {
            border-bottom: 1px solid transparent;
        }

        &__logo {
            width: 102px;
            height: 14.5px;
        }

        &__btn {
            display: block;
            background-color: transparent;
            border: none;
            width: 55px;
            height: 56px;
        }

        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            pointer-events: none;
        }

        &__list {
            display: none;
        }
    }
}

.banner {
    background-image: url(../media/banner-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 230px 0 120px;
    position: relative;

    &__container {
        position: relative;
        z-index: 1;
    }

    &__title {
        color: $colorTextWhite;
        font-weight: 900;
        font-size: 64px;
        line-height: 75px;
        text-transform: uppercase;
        margin-bottom: 31.5px;
    }

    &__text {
        color: $colorTextWhite;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 82px;
    }

    &__btn {
        color: $colorTextWhite;
        background-color: $colorButtonNormal;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        border: none;
        max-width: 370px;
        width: 100%;
        padding: 26px 0;
        transition: 0.3s linear;

        &:hover {
            background-color: $colorButtonHover;
            cursor: pointer;
        }

        &:active {
            background-color: $colorButtonActive;
            box-shadow: 4px 4px 30px $colorButtonActive;
        }
    }

    &::after {
        content: '';
        background-color: $colorBackgroundBanner;
        opacity: 0.8;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    @media (max-width: 1024px) {
        & {
            padding: 257px 0 126px;

            &__title {
                font-size: 48px;
                line-height: 56px;
                margin-bottom: 62px;
            }

            &__text {
                font-size: 18px;
                line-height: 21px;
                margin-bottom: 91.5px;
            }

            &__btn {
                max-width: 314px;
            }
        }
    }

    @media (max-width: 767px) {
        & {
            padding: 106px 0 52px;

            &__title {
                font-size: 36px;
                line-height: 42px;
                margin-bottom: 33px;
            }

            &__text {
                font-size: 14px;
                line-height: 16px;
                margin-bottom: 51px;
            }

            &__btn {
                max-width: 280px;
                padding: 16px 0;
            }
        }
    }
}

.features {
    padding: 116px 0 134px;

    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        row-gap: 88px;
    }

    &__wrap {
        text-align: center;
    }

    &__picture {
        width: 100px;
        height: 100px;
        margin: 0 auto 51px;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__title {
        color: $colorTextBlack;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        margin-bottom: 42.5px;
    }

    &__text {
        color: $colorTextGray;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
    }

    @media (max-width: 1024px) {
        & {
            padding: 78px 0 80px;

            &__container {
                column-gap: 20px;
                row-gap: 50px;
            }

            &__picture {
                width: 85px;
                height: 85px;
                margin: 0 auto 45px;
            }

            &__title {
                font-size: 18px;
                line-height: 21px;
                margin-bottom: 29px;
            }

            &__text {
                font-size: 14px;
                line-height: 16px;
            }
        }
    }

    @media (max-width: 767px) {
        & {
            padding: 40px 0 35px;

            &__container {
                grid-template-columns: 1fr;
                row-gap: 41.5px;
            }

            &__picture {
                width: 75px;
                height: 75px;
                margin: 0 auto 40px;
            }

            &__title {
                margin-bottom: 20px;
            }
        }
    }
}

.work {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    &__item {
        position: relative;
        border: 1px solid $colorWorkBorder;
    }

    &__item::before {
        content: '';
        display: block;
        padding-top: 90%;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__title {
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
    }

    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
    }

    &__info {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 37px;

        &:hover {
            color: $colorTextWhite;
            background-color: $colorWorkHover;
            animation: saturation 0.9s;
        }

        &:active {
            color: $colorTextWhite;
            background-color: $colorWorkActive;
            animation: decrease 0.6s;
        }
    }

    @media (max-width: 1024px) {
        & {
            &__title {
                font-size: 18px;
                line-height: 21px;
            }

            &__text {
                font-size: 14px;
                line-height: 16px;
            }

            &__info {
                row-gap: 23px;
            }
        }
    }

    @media (max-width: 767px) {
        & {
            grid-template-columns: repeat(2, 1fr);

            &__info {
                row-gap: 8px;
            }
        }
    }
}

.team {
    padding: 114px 0;

    &__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 30px;
    }

    &__picture {
        position: relative;
        margin-bottom: 30px;
    }

    &__picture::before {
        content: '';
        display: block;
        padding-top: 100%;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__info {
        margin-bottom: 38px;
    }

    &__name {
        color: $colorTextBlack;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 5px;
    }

    &__position {
        color: $colorTextRed;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        margin-bottom: 18px;
    }

    &__text {
        color: $colorTextGray;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
    }

    &__social {
        display: flex;
        column-gap: 6px;
    }

    &__link {
        display: block;
        width: 39px;
        height: 39px;
    }

    &__link>svg {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__link path {
        transition: 0.3s linear;
    }

    &__link:hover path {
        fill: $colorSocialHover;
    }

    &__link:active path {
        fill: $colorSocialActive;
    }

    @media (max-width: 1024px) {
        & {
            padding: 78px 0;

            &__picture {
                margin-bottom: 25px;
            }
    
            &__info {
                margin-bottom: 39px;
            }
    
            &__name {
                font-size: 18px;
                line-height: 21px;
            }
    
            &__position {
                font-size: 14px;
                line-height: 16px;
                margin-bottom: 22.5px;
            }
    
            &__text {
                font-size: 14px;
                line-height: 16px;
            }
    
            &__social {
                column-gap: 5px;
            }
    
            &__link {
                width: 33px;
                height: 33px;
            }
        }
    }

    @media (max-width: 767px) {
        & {
            padding: 35px 0;

            &__container {
                grid-template-columns: 1fr;
                row-gap: 49.5px;
            }

            &__info {
                margin-bottom: 55px;
            }

            &__social {
                column-gap: 6px;
            }

            &__link {
                width: 39px;
                height: 39px;
            }

            &__position {
                margin-bottom: 38.5px;
            }
        }
    }
}