@-webkit-keyframes decrease {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@keyframes decrease {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 2;
  background-color: rgba(44, 49, 84, 0.5);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__container::after {
  content: '';
  border-bottom: 1px solid #BABBC5;
  width: calc(100% - 30px);
  position: absolute;
  left: 15px;
  bottom: 0;
}

.header__logo {
  display: block;
  width: 181px;
  height: 26px;
}

.header__picture {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}

.header__btn {
  display: none;
}

.header__img-close {
  display: none;
}

.header__btn.open .header__img-open {
  display: none;
}

.header__btn.open .header__img-close {
  display: block;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list.open {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 0;
  top: 56px;
  height: 100vh;
  width: 100%;
  background-color: rgba(44, 49, 84, 0.5);
  padding-top: 55px;
}

.header__item {
  list-style: none;
}

.header__link {
  display: block;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 41px 30px;
  border-bottom: 3px solid transparent;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.header__link:hover {
  color: #BABBC5;
  border-bottom: 3px solid #BABBC5;
}

.header__link:active {
  color: #E71414;
  border-bottom: 3px solid #E71414;
}

@media (max-width: 1024px) {
  .header__link {
    font-size: 12px;
    line-height: 14px;
    padding: 41.5px 15px;
  }
}

@media (max-width: 767px) {
  .header__container::after {
    border-bottom: 1px solid transparent;
  }
  .header__logo {
    width: 102px;
    height: 14.5px;
  }
  .header__btn {
    display: block;
    background-color: transparent;
    border: none;
    width: 55px;
    height: 56px;
  }
  .header__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    pointer-events: none;
  }
  .header__list {
    display: none;
  }
  .header__link {
    padding: 0 15px 15px 15px;
    margin-bottom: 40px;
  }
}

.banner {
  background-image: url(../media/banner-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 230px 0 120px;
  position: relative;
}

.banner__container {
  position: relative;
  z-index: 1;
}

.banner__title {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
  text-transform: uppercase;
  margin-bottom: 31.5px;
}

.banner__text {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 82px;
}

.banner__btn {
  color: #FFFFFF;
  background-color: #FF4343;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  border: none;
  max-width: 370px;
  width: 100%;
  padding: 26px 0;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.banner__btn:hover {
  background-color: #E71414;
  cursor: pointer;
}

.banner__btn:active {
  background-color: #FF4343;
  -webkit-box-shadow: 4px 4px 30px #FF4343;
          box-shadow: 4px 4px 30px #FF4343;
}

.banner::after {
  content: '';
  background-color: #252B49;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 1024px) {
  .banner {
    padding: 257px 0 126px;
  }
  .banner__title {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 62px;
  }
  .banner__text {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 91.5px;
  }
  .banner__btn {
    max-width: 314px;
  }
}

@media (max-width: 767px) {
  .banner {
    padding: 106px 0 52px;
  }
  .banner__title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 33px;
  }
  .banner__text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 51px;
  }
  .banner__btn {
    max-width: 280px;
    padding: 16px 0;
  }
}

.features {
  padding: 116px 0 134px;
}

.features__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 88px;
}

.features__wrap {
  text-align: center;
}

.features__picture {
  width: 100px;
  height: 100px;
  margin: 0 auto 51px;
}

.features__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.features__title {
  color: #2D3033;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 42.5px;
}

.features__text {
  color: #6C7279;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

@media (max-width: 1024px) {
  .features {
    padding: 78px 0 80px;
  }
  .features__container {
    -webkit-column-gap: 20px;
            column-gap: 20px;
    row-gap: 50px;
  }
  .features__picture {
    width: 85px;
    height: 85px;
    margin: 0 auto 45px;
  }
  .features__title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 29px;
  }
  .features__text {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 767px) {
  .features {
    padding: 40px 0 35px;
  }
  .features__container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 41.5px;
  }
  .features__picture {
    width: 75px;
    height: 75px;
    margin: 0 auto 40px;
  }
  .features__title {
    margin-bottom: 20px;
  }
}

.work {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.work__item {
  position: relative;
  border: 1px solid #FFFFFF;
}

.work__item::before {
  content: '';
  display: block;
  padding-top: 90%;
}

.work__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.work__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
}

.work__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.work__info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #FFFFFF;
  background-color: rgba(255, 67, 67, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 37px;
  opacity: 0;
  -webkit-transition: opacity 0.6s linear;
  transition: opacity 0.6s linear;
}

.work__info:hover {
  opacity: 1;
}

.work__info:active {
  background-color: rgba(185, 12, 12, 0.8);
  -webkit-animation: decrease 0.6s;
          animation: decrease 0.6s;
}

@media (max-width: 1024px) {
  .work__title {
    font-size: 18px;
    line-height: 21px;
  }
  .work__text {
    font-size: 14px;
    line-height: 16px;
  }
  .work__info {
    row-gap: 23px;
  }
}

@media (max-width: 767px) {
  .work {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .work__info {
    row-gap: 8px;
  }
}

.team {
  padding: 114px 0;
}

.team__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.team__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 38px;
}

.team__picture {
  position: relative;
  margin-bottom: 30px;
}

.team__picture::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.team__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team__name {
  color: #2D3033;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 5px;
}

.team__position {
  color: #FF4343;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.team__text {
  color: #6C7279;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.team__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 6px;
          column-gap: 6px;
  margin-top: auto;
}

.team__link {
  display: block;
  width: 39px;
  height: 39px;
  border: 1px solid #C6CBCD;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.team__link > svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team__link path {
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.team__link:hover {
  border: 1px solid #FF4343;
}

.team__link:hover path {
  fill: #FF4343;
}

.team__link:active {
  border: 1px solid #E71414;
}

.team__link:active path {
  fill: #E71414;
}

@media (max-width: 1024px) {
  .team {
    padding: 78px 0;
  }
  .team__item {
    row-gap: 39px;
  }
  .team__picture {
    margin-bottom: 25px;
  }
  .team__name {
    font-size: 18px;
    line-height: 21px;
  }
  .team__position {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 22.5px;
  }
  .team__text {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .team__link {
    width: 33px;
    height: 33px;
  }
}

@media (max-width: 767px) {
  .team {
    padding: 35px 0;
  }
  .team__container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 49.5px;
  }
  .team__item {
    row-gap: 55px;
  }
  .team__position {
    margin-bottom: 38.5px;
  }
}

.testimonials__wrap {
  background-color: #5C3249;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonials__picture {
  width: 50%;
}

.testimonials__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.testimonials__info {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 130px;
}

.testimonials__title {
  max-width: 470px;
  color: #FFFFFF;
  font-family: 'Cardo', serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  margin-bottom: 40px;
}

.testimonials__text {
  max-width: 470px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .testimonials__info {
    padding: 30px 88px;
  }
  .testimonials__title {
    max-width: 330px;
    font-size: 24px;
    line-height: 32px;
  }
  .testimonials__text {
    max-width: 330px;
    font-size: 12px;
    line-height: 14px;
  }
}

@media (max-width: 767px) {
  .testimonials__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .testimonials__picture {
    width: 100%;
  }
  .testimonials__info {
    width: 100%;
    padding: 15px 15px 95px 15px;
  }
  .testimonials__title {
    text-align: center;
    max-width: 100%;
  }
  .testimonials__text {
    text-align: center;
    max-width: 100%;
  }
}

.swiper-wrapper {
  position: static;
  margin-bottom: 31px;
}

.swiper-pagination {
  position: static;
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background-color: #FFFFFF;
  border: 1px solid #7E5D6F;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #7E5D6F;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 12.5px;
}

@media (max-width: 1024px) {
  .swiper-wrapper {
    margin-bottom: 24px;
  }
  .swiper-pagination-bullet {
    width: 9.5px;
    height: 9.5px;
  }
}

@media (max-width: 767px) {
  .swiper-wrapper {
    margin-bottom: 23px;
  }
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;
  }
}

.download {
  padding: 114px 0;
}

.download__container {
  text-align: center;
}

.download__title {
  color: #000000;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 23px;
}

.download__text {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.download__btn {
  color: #FFFFFF;
  background-color: #FF4343;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  border: none;
  max-width: 370px;
  width: 100%;
  padding: 26px 0;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.download__btn:hover {
  background-color: #E71414;
  cursor: pointer;
}

.download__btn:active {
  background-color: #FF4343;
  -webkit-box-shadow: 4px 4px 30px #FF4343;
          box-shadow: 4px 4px 30px #FF4343;
}

@media (max-width: 1024px) {
  .download {
    padding: 78px 0;
  }
  .download__title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 21px;
  }
  .download__text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 46px;
  }
  .download__btn {
    max-width: 314px;
    font-size: 18px;
    line-height: 21px;
  }
}

@media (max-width: 767px) {
  .download {
    padding: 45px 0;
  }
  .download__title {
    font-size: 18px;
    line-height: 21px;
  }
  .download__text {
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 13.5px;
  }
  .download__btn {
    max-width: 280px;
  }
}

.footer__top {
  background-color: #353C65;
  padding: 71px 0;
}

.footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 30px;
          column-gap: 30px;
  text-align: center;
}

.footer__title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 29px;
}

.footer__text {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 27px;
          column-gap: 27px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: auto;
}

.footer__link {
  display: block;
  width: 39px;
  height: 39px;
  border: 1px solid #C6CBCD;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.footer__link > svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__link path {
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.footer__link:hover {
  border: 1px solid #FF4343;
}

.footer__link:hover path {
  fill: #FF4343;
}

.footer__link:active {
  border: 1px solid #E71414;
}

.footer__link:active path {
  fill: #E71414;
}

.footer__bottom {
  background-color: #2C3154;
  padding: 24px 15px;
}

.footer__info {
  max-width: 370px;
  margin: 0 auto;
  text-align: center;
  color: #808080;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.footer__name {
  color: #FFFFFF;
}

@media (max-width: 1024px) {
  .footer__top {
    padding: 41px 0;
  }
  .footer__container {
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
  .footer__title {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 18px;
  }
  .footer__text {
    font-size: 14px;
    line-height: 16px;
  }
  .footer__wrap {
    -webkit-column-gap: 23px;
            column-gap: 23px;
  }
  .footer__link {
    width: 33px;
    height: 33px;
  }
  .footer__info {
    max-width: 314px;
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 767px) {
  .footer__top {
    padding: 34px 0;
  }
  .footer__container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .footer__address {
    margin-bottom: 69px;
  }
  .footer__social {
    margin-bottom: 59px;
  }
  .footer__title {
    margin-bottom: 34px;
  }
  .footer__wrap {
    -webkit-column-gap: 17px;
            column-gap: 17px;
  }
  .footer__info {
    max-width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */